@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham_black-webfont.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham_bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham_book-webfont.woff2') format('woff2');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/gotham_light-webfont.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}

@import "tailwindcss";
@plugin "@tailwindcss/typography";


@theme {
  --font-space: 'Gotham', sans-serif;
}

@view-transition {
  navigation: auto;
}

body{
  font-family: Gotham;
  font-weight:450;
}


.split .char, .text-anim-char {
  display: inline-block;
  vertical-align: baseline;
}


.contact-hero { line-height: 1.2; }


.menu-section {
  transition: scale 150ms cubic-bezier(0.83, 0, 0.17, 1), opacity  150ms cubic-bezier(0.83, 0, 0.17, 1), display  150ms cubic-bezier(0.83, 0, 0.17, 1);
  transition-behavior: allow-discrete;
  opacity: 1;
  scale:1;
  transform-origin: top center;
  position: absolute; 
  top:100%;
}

@starting-style {
  .menu-section {
    opacity: 0;
    scale:0.9;
  }
}

.menu-section_closed {
  display: none;
  opacity: 0;
  scale:0.9;
}
/* 
section h2{
      transition:opacity cubic-bezier(0.83, 0, 0.17, 1) 600ms, translate cubic-bezier(0.83, 0, 0.17, 1) 600ms;
      translate: 0 30%;
      opacity: 0;
  }

.is-active h2{
  opacity: 1;
  translate: 0 0;
} */



.details {
    padding: var(--xxs);
    interpolate-size: allow-keywords;
    &::details-content {
        opacity: 0;
        block-size: 0;
        transition: content-visibility .25s allow-discrete,opacity .25s,block-size .25s;
        overflow-y: clip
    }

    &[open]::details-content {
        opacity:1;
        block-size: auto
    }

    &[open]>summary {
        &:after {
            content:"-"
        }
    }

    &>div {
        padding: var(--xs)0
    }

    & summary {
        cursor: pointer;
        transition-behavior: allow-discrete;
        grid-template-columns: 1fr 20px;
        align-items: center;
        list-style: none;
        transition: all .25s;
        display: grid;
        &:after {
            content: "+";
            font-size: 2rem;
            font-weight: 300
        }
    }
}

.dot{
  transition: min-width cubic-bezier(0.33, 0, 0.67, 1) 400ms, background-color linear 250ms, scale cubic-bezier(0.33, 0, 0.67, 1) 200ms;
  &:hover{
    scale:125%;
  }
}  

.dot_active{
  background:#ffffffb3;
  min-width: 48px;
}


/* .gallery{
  --gallery-padding: max(6.25vw,(100vw - 1260px)/2, 0px, 0px);
  --shared-media-gallery-width: min(max(87.5vw - 0px, 280px), 1260px);

  scrollbar-width: none;

  .gallery__container{
    padding: 0 var(--gallery-padding);
  }
  
  .gallery__item{
    width: var(--shared-media-gallery-width);
    filter:grayscale(1);
    transition: filter cubic-bezier(0.83, 0, 0.17, 1) 400ms;
    cursor: pointer;
    img{
      opacity: 0.9;
      cursor: pointer;
      transition:opacity cubic-bezier(0.83, 0, 0.17, 1) 400ms, scale cubic-bezier(0.83, 0, 0.17, 1) 400ms;
      scale:0.9;
    }
    p{
        max-width: 45ch;
        transition:opacity cubic-bezier(0.83, 0, 0.17, 1) 600ms, translate cubic-bezier(0.83, 0, 0.17, 1) 600ms;
        translate: 0 10%;
        opacity: 0;
    }

    .rounded-2xl:after{
      opacity: 0;
      transition:opacity cubic-bezier(0.83, 0, 0.17, 1) 600ms;
    }
  }

  

  .gallery__item.is-visible {
    filter:grayscale(0);
          cursor: auto;
    img{
      opacity: 1;
      scale:1;
      cursor: auto;
    }
    p{
      translate: 0 0;
      opacity: 1;
    }
    .rounded-2xl:after{
      opacity: 0.8;  
    }
  }

  &.gallery_sm{
    --gallery-padding: max(12vw,(100vw - 900px)/2, 0px, 0px);
    --shared-media-gallery-width: min(max(76vw - 0px, 280px), 900px);

    .gallery__item{
      opacity: 1;
      scale: 1;
      overflow: hidden;
      perspective: 1px;

      .rounded-2xl{
        position: relative;
        overflow: hidden;
      }

      .rounded-2xl:before{
        content:"";
        display: block;
        position: absolute;
        inset:1rem;
        background: rgba(0, 0, 0, 0.259);
        transform: translateZ(0px);
        filter: blur(20px);
        border-radius: 12px;
      }

      .rounded-2xl:after{
        display:block;
        content: "";
        position: absolute;
        inset: 0;
        background-size: 20px 20px;
        background-image:  repeating-linear-gradient(0deg, #ffffff, #ffffff 1px, #e5e5f700 1px, #e5e5f700);
        z-index: -1;
        mask: linear-gradient(180deg, #0000 0%, #000 660%);
        animation: banding 1s infinite linear;
        mix-blend-mode: luminosity;
        filter: drop-shadow(0 44px 3px white);
      }

      img{
        transform: translateZ(-2px);
      }
    }
  }
} */

@keyframes banding {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -20px ;
  }
}


.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

html, body, section.horizontal {
  overflow-x: hidden;
}


section.horizontal .pin-wrap,
section.horizontal .animation-wrap {
    display: flex;
    position: relative;
    z-index: 1;  
    height: 100vh;
    align-items: center;
}


html, body { overscroll-behavior: none; }

/* if you have a custom scroller */
#wrapper { overscroll-behavior: contain; }

/* the pinned horizontal section(s) */
section.horizontal, section.horizontal .pin-wrap { 
  touch-action: pan-x;       /* only horizontal gestures here */
}

/* .three-dee-glitch{
      &:after{
        display:block;
        content: "";
        position: fixed;
        inset: 0;
        z-index: 20;
        background-size: 20px 20px;
        background-image:  repeating-linear-gradient(0deg, #ffffff41, #ffffff41 1px, #e5e5f700 1px, #e5e5f700);
        mask: linear-gradient(180deg, #0000 0%, #000 660%);
        animation: banding 1s infinite linear;
        mix-blend-mode: luminosity;
        filter: drop-shadow(0 44px 3px white);
      }
} */
