---
import Layout from "@layouts/FullPage.astro";
---

<Layout title="Contact | Kevin Letchford - Design Engineer">
        <div class="snap-y snap-mandatory h-[100svh] overflow-y-auto overscroll-contain absolute inset-0 bg-gradient-to-r from-cyan-500/40 to-red-900/10 scroll-smooth">
            <article class="max-w-5xl m-auto prose prose-invert prose-h2:mt-0 prose-h2:md:text-5xl prose-headings:font-space grid grid-cols-1 gap-8 px-4">
            <section
            class="p-8 min-h-[100svh] snap-start flex flex-col justify-center max-w-5xl m-auto w-full"
            aria-labelledby="title"
            id="title"
            >
            <h1
                id="title"
                class="mt-2 text-4xl md:text-6xl font-bold text-white mb-3 font-space #tracking-tight load-effect "
            >
            First Contact
            </h1>
            <p class="mt-0 text-slate-300 mb-3 text-xl md:text-2xl ">
                Got a project in mind? Let’s chat.
            </p>

            <nav class="inline-flex gap-4 rounded-lg p-4 bg-black/20 backdrop-blur-2xl mr-auto">
				<a href="https://dribbble.com/kevinletchford" target="_blank" class=" flex size-14 flex-none items-center justify-center rounded-lg bg-gradient-to-t  from-pink-500/40 to-purple-900/20  border border-purple-900/30 drop-shadow-2xl">
					<svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13.4528 0C6.02604 0 0 5.82322 0 13C0 20.1768 6.02604 26 13.4528 26C20.865 26 26.9056 20.1768 26.9056 13C26.9056 5.82322 20.865 0 13.4528 0ZM22.3386 5.9924C23.9436 7.88177 24.9066 10.2929 24.9358 12.9013C24.5565 12.8308 20.7628 12.0835 16.94 12.5488C16.8525 12.3655 16.7795 12.1681 16.692 11.9707C16.4585 11.4349 16.1959 10.885 15.9332 10.3633C20.1646 8.69957 22.0906 6.30261 22.3386 5.9924ZM13.4528 1.91757C16.371 1.91757 19.0411 2.97505 21.0692 4.70933C20.865 4.99132 19.1286 7.2332 15.0432 8.71367C13.161 5.37202 11.0745 2.63666 10.7535 2.21367C11.6143 2.01627 12.519 1.91757 13.4528 1.91757ZM8.56485 2.96096C8.87125 3.35574 10.914 6.10522 12.8254 9.37635C7.45594 10.7581 2.71391 10.7299 2.20322 10.7299C2.94734 7.28959 5.35486 4.42733 8.56485 2.96096ZM1.95518 13.0141C1.95518 12.9013 1.95518 12.7885 1.95518 12.6757C2.45127 12.6898 8.02499 12.7603 13.7592 11.0965C14.0948 11.7169 14.4012 12.3514 14.693 12.9859C14.5471 13.0282 14.3866 13.0705 14.2407 13.1128C8.31681 14.9599 5.16517 20.0076 4.90255 20.4306C3.07867 18.4707 1.95518 15.8623 1.95518 13.0141ZM13.4528 24.1106C10.7973 24.1106 8.34598 23.2364 6.40538 21.7701C6.60968 21.3612 8.94422 17.0184 15.4225 14.833C15.4517 14.8189 15.4663 14.8189 15.4955 14.8048C17.1151 18.8514 17.7717 22.2494 17.9468 23.2223C16.5607 23.8004 15.0432 24.1106 13.4528 24.1106ZM19.8582 22.2072C19.7415 21.5304 19.1287 18.2874 17.6258 14.2972C21.2297 13.7473 24.3813 14.6497 24.7753 14.7766C24.2792 17.8644 22.4408 20.5293 19.8582 22.2072Z" fill="currentColor"></path>
					</svg>
				</a>
				<a href="https://github.com/kevinletchford" target="_blank"  class=" flex size-14 flex-none items-center justify-center rounded-lg bg-gradient-to-t from-purple-500/40 to-red-900/20 border border-purple-900/30 drop-shadow-2xl">
					<svg width="27" height="26" viewBox="0 0 27 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M13.4528 0.541626C6.02012 0.541626 0 6.382 0 13.5928C0 19.3679 3.85086 24.2457 9.19835 25.975C9.87099 26.0892 10.1232 25.6977 10.1232 25.3551C10.1232 25.0451 10.1064 24.0173 10.1064 22.9243C6.7264 23.5279 5.85196 22.1249 5.58291 21.3908C5.43157 21.0156 4.77574 19.8573 4.204 19.5473C3.73315 19.3026 3.06051 18.699 4.18718 18.6827C5.24659 18.6664 6.00331 19.6289 6.25555 20.0204C7.4663 21.9944 9.40014 21.4397 10.1737 21.0971C10.2914 20.2488 10.6445 19.6778 11.0313 19.3516C8.03804 19.0253 4.91027 17.8996 4.91027 12.9076C4.91027 11.4883 5.43157 10.3137 6.28918 9.40008C6.15465 9.0738 5.6838 7.73606 6.42371 5.94153C6.42371 5.94153 7.55038 5.59894 10.1232 7.27927C11.1995 6.98562 12.3429 6.83879 13.4864 6.83879C14.6299 6.83879 15.7734 6.98562 16.8496 7.27927C19.4225 5.58262 20.5491 5.94153 20.5491 5.94153C21.289 7.73606 20.8182 9.0738 20.6837 9.40008C21.5413 10.3137 22.0626 11.4719 22.0626 12.9076C22.0626 17.9159 18.918 19.0253 15.9247 19.3516C16.4124 19.7594 16.8328 20.5425 16.8328 21.766C16.8328 23.5116 16.816 24.9146 16.816 25.3551C16.816 25.6977 17.0682 26.1055 17.7409 25.975C23.0547 24.2457 26.9056 19.3516 26.9056 13.5928C26.9056 6.382 20.8855 0.541626 13.4528 0.541626Z" fill="currentColor"></path>
					</svg>
				</a>
				<a href="https://codepen.io/letchford/" target="_blank"  class=" flex size-14 flex-none items-center justify-center rounded-lg bg-gradient-to-t from-orange-500/40 to-yellow-900/20  border border-yellow-900/30 drop-shadow-2xl">
					<svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" fill="none" viewBox="0 0 512 512">
						<path fill="currentColor" d="M502.285 159.704l-234-156c-7.987-4.915-16.511-4.96-24.571 0l-234 156C3.714 163.703 0 170.847 0 177.989v155.999c0 7.143 3.714 14.286 9.715 18.286l234 156.022c7.987 4.915 16.511 4.96 24.571 0l234-156.022c6-3.999 9.715-11.143 9.715-18.286V177.989c-.001-7.142-3.715-14.286-9.716-18.285zM278 63.131l172.286 114.858-76.857 51.429L278 165.703V63.131zm-44 0v102.572l-95.429 63.715-76.857-51.429L234 63.131zM44 219.132l55.143 36.857L44 292.846v-73.714zm190 229.715L61.714 333.989l76.857-51.429L234 346.275v102.572zm22-140.858l-77.715-52 77.715-52 77.715 52-77.715 52zm22 140.858V346.275l95.429-63.715 76.857 51.429L278 448.847zm190-156.001l-55.143-36.857L468 219.132v73.714z"></path>
					</svg>
				</a>
				<a href="https://www.linkedin.com/in/kevin-letchford/"  target="_blank"  class=" flex size-14 flex-none items-center justify-center rounded-lg bg-gradient-to-t from-blue-500/40 to-silver-900/20 border border-blue-500/20 drop-shadow-2xl">
                    <svg width="27" height="26" viewBox="0 0 640 640" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill="currentColor" d="M196.3 512L103.4 512L103.4 212.9L196.3 212.9L196.3 512zM149.8 172.1C120.1 172.1 96 147.5 96 117.8C96 103.5 101.7 89.9 111.8 79.8C121.9 69.7 135.6 64 149.8 64C164 64 177.7 69.7 187.8 79.8C197.9 89.9 203.6 103.6 203.6 117.8C203.6 147.5 179.5 172.1 149.8 172.1zM543.9 512L451.2 512L451.2 366.4C451.2 331.7 450.5 287.2 402.9 287.2C354.6 287.2 347.2 324.9 347.2 363.9L347.2 512L254.4 512L254.4 212.9L343.5 212.9L343.5 253.7L344.8 253.7C357.2 230.2 387.5 205.4 432.7 205.4C526.7 205.4 544 267.3 544 347.7L544 512L543.9 512z"/>
					</svg>
				</a>
			</nav>
            </section>
            </article>
        </div>
</Layout>
