---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="min-h-dvh flex items-center justify-center p-6">
		<div class="max-w-2xl flex flex-col gap-4">
			<h1 class="flex flex-col gap-1">
				<span class="text-base/7 font-semibold text-indigo-400">Kevin Letchford</span>
				<span class="font-space  max-w-lg text-4xl font-semibold tracking-tight text-pretty sm:text-5xl">Design Engineer</span>
			</h1>
	
			
			<p class="text-xl text-pretty text-white/60">I craft exceptional web experiences through the intersection of design and engineering. Specializing in interactive interfaces, performance optimization, and bringing complex ideas to life.</p>
			<div class="flex">
				<a class="" href="#">View My Work</a>
				<a class="" href="#">Contact</a>
			</div>
		</div>
	</div>

	<div>
		<h2>Case Studies</h2>
		<div>
			<div>

			</div>
		</div>
	</div>
</Layout>
