html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  background: #121212;
}

body:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  opacity: 0.5;
  z-index: -1;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: Jura;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h1 {
  color: #838e91;
  font-size: 40px;
  margin-bottom: 1rem;
  font-weight: bold;
}

h1 span {
  color: #ff5e5b;
}

h2 {
  color: #838e91;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 1.5rem;
  position: relative;
}

h2:before {
  position: absolute;
  content: "";
  display: block;
  border: 4px solid #ff5e5b;
  height: 18px;
  border-radius: 50%;
  width: 18px;
  left: -4rem;
  top: 0.5rem;
  z-index: 1;
}

p,
ol,
ul {
  font-family: "Roboto", sans-serif;
  color: rgba(234, 224, 224, 0.875);
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.03em;
  margin-bottom: 2rem;
  font-weight: 300;
  position: relative;
}

ol,
ul {
  list-style: none;
}

p:before {
  position: absolute;
  content: "";
  display: block;
  border-radius: 18px;
  width: 8px;
  left: calc(-4rem + 5px);
  top: 0.5rem;
  bottom: 0.25rem;
  background: rgba(157, 160, 164, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: auto minmax(min-content,500px) auto;
  
  grid-template-rows: auto 1fr;
  grid-row-gap: 2rem;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    ". main .";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding:1rem;
}

.social-nav {
  align-items: stretch;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  color: white;
}

.social-nav:before {
  content: "";
  display: block;
  height: 1rem;
  width: 100%;
  background: #24272c;
}

.social-nav a {
  background: #24272c;
  padding: 0 0.75rem 0.75rem;
  display: flex;
  color: rgba(157, 160, 164, 0.5);
  align-items: center;

  &:hover {
    color: #ff5e5b;
  }

  svg {
    width:100%;
    max-width: 100%;
    height:100%;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.social-nav a:first-child {
  border-radius: 0 0 0 12px;
  padding-left: 1rem;
}

.social-nav a:last-child {
  border-radius: 0 0 12px 0;
  padding-right: 1rem;
}
