---
import "../styles/global.css";
import Header from "../components/Header.tsx"
import '@fontsource-variable/space-grotesk';
import AudioPlayer from "@components/AudioPlayer";  
import { ClientRouter } from "astro:transitions";
import PersistedSpace from "@components/PersistedSpace.astro";
interface Props {
  title?: string;
}
const { title = "Kevin Letchford" } = Astro.props;
---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>	
        <style>
            html, body, canvas {
            margin: 0;
            padding: 0;
            overflow: hidden;
            width: 100vw;
            height: 100vh;
            background: black;
            }

        </style>
  <ClientRouter />
	</head>
	<body class="bg-[linear-gradient(to_bottom,rgba(10,10,50,0.5),rgba(0,0,0,1)),url(/stars/stars.jpg)] bg-fixed bg-center text-white/90 overscroll-none" >
		<Header client:load transition:persist />
      <div class="relative">
       <PersistedSpace /> 
        <slot />
    </div>
	</body>
</html>

